@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer base {
  @font-face {
    font-family: 'Kalpurush';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/kalpurush.ttf) format('ttf');
  }
  @font-face {
    font-family: 'KFGQPC Uthmanic Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/KFGQPC.otf) format('otf');
  }
  .calc-height {
    height: calc(100vh - 80px);
  }
  .calc-height-body {
    height: calc(100vh - 144px);
  }
}
