@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kalpurush';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/kalpurush.ttf) format('ttf');
  }
  @font-face {
    font-family: 'KFGQOC Uthmanic Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/KFGQPC\ Uthmanic\ Script\ HAFS\ Regular.otf) format('otf');
  }
}
